/*nunito google font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/*greater rounded*/
.rounded-lgx{
    border-radius: 16px;
}

/*gradient font*/
.gradient-font{
    /*definindo o gradiente*/
    background-image: linear-gradient(to right,#80ce08, #006699);
    /*recorta o background para o texto*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /*tira a cor do texto verdadiera*/
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
}

.tech-icon img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-icon img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/*chancing the color font of flickity*/
.flickity-button.previous, .flickity-button.next{
    background: #dae1e5;
}

/* hide the arrows when the screen width is 400px or less */
@media (max-width: 788px) {
    .flickity-button.previous, .flickity-button.next {
      display: none;
    }
}

/*center carrousel cells*/
.works .flickity-slider {
    display: flex !important;
    align-items: start !important;
}

.works .carousel-cell {
    /* Exemplo: Se precisar que o conteúdo da célula também seja centralizado */
    height: 100%; 
    display: flex;
    justify-content: center !important; /* Centraliza conteúdo horizontalmente na célula */
    align-items: center !important; /* Centraliza conteúdo verticalmente na célula */
}
